@page
@model Activity1WebPageModel.Pages.PersonalDetails.IndexModel

@{

	ViewData["Title"] = "Personal Details";
}

<h1>@ViewData["Title"]</h1>

<h2>Full Name: Balaguer, Charles Bernard</h2>
<h3>Birth Date: April 15, 2004</h3>
<h4>Address: Sitio Wawa, Brgy. San Rafael, Rodriguez, Rizal</h4>



<h2>Full Name: Knives Benedict Cabarles</h2>
<h3>Birth Date: July 08, 2005</h3>
<h4>Address: Southville 8C, Brgy. San Isidro, Rodriguez, Rizal</h4>

<h2>Full Name: Reboltan Marie Cris</h2>
<h3>Birth Date: September 1, 2002</h3>
<h4>Address: Brgy. Commonwealth Quezon City</h4>
